.board {
  display: grid;
  gap: 0.5rem;
  grid-template: "a1 a2 a3" 1fr "b1 b2 b3" 1fr "c1 c2 c3" 1fr / 1fr 1fr 1fr;
}

.board button {
  margin: 0;
  aspect-ratio: 1;
}

.board.won button {
  pointer-events: none;
}
